body {
  background-image: url("img/signup2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  align-content: center;
  font-family: "Montserrat", sans-serif;
}

.card {
  margin: auto;
  width: 40%;
  opacity: 0.9;
}

.form-control {
  background: transparent;
}

.btn {
  color: #2196f3;
  border: solid 1px #2196f3;
}

.btn:hover {
  background-color: #2196f3;
}
